h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100px;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  border: 0.5px solid #2e2c4c;
  border-radius: 20px;
  background: linear-gradient(
    108.1deg,
    rgb(167, 220, 225) 11.2%,
    rgb(217, 239, 242) 88.9%
  );
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  margin: 10px;
  font-family: "Noto Sans JP", sans-serif;
  color: #2e2c4c;
  box-shadow: 7px 5px 5px -2px rgba(0, 0, 0, 0.23);
}
.weather-app {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-app .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-app .active:hover {
  text-decoration: none;
}
